/* 400 Fonts Link Form Google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* This is body section */
 body{
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
 }
/* This is main section */
main{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 5%;
}
/* This is container section */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row:20px;
}
.top-section{
    background-color:#FFFFFF;
    width: 330px;
    height: 456px;
    top: 747px;
    left: 180px;
    padding:15px;
}
.players{
    display: flex;
    background-color:#FFFFFF;
    
}
.player-img img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.player-info{
    top: 50px;
    line-height: 18px;
}
.player-name{
    color: #18191F;
    font-size: 28px;
}
.player-details{
    display: flex;
    width: 300px;
    height: 54px;
    top: 272px;
    flex-direction: column;
    align-items: center;
    background:#FFFFFF;
    font-size: 16px;
}
.raiting{
    background-color: cornsilk;
}
/* Header Section */
header{
display: flex;
background-color: #2D25A0;
height: 350px;
width: 1440px;
}
.head{
    display: flex;
}
.header-font{
    color: #FFFFFF;
    font-size:64px;
}
.live-font{
    color:white;
}
.live-match img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    /* top: 153px; */
}
/* Match Section */
.match-part{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid: row gap 20px;
}
.football-logo{
    display: flex;
    grid-column: 20px;
}
.match-pic img{
    display: flex;
    width: 567px;
    height: 427px;
}
h1{
    font-size: 48px;
}
p{
    font-size: 16px;
}
/* This is footer part */
.footer-part{ 
    display:grid;
    grid-column: 20px;
}
.football-logo img{
    width:483.87px;
    height: 100px;
    align-items: center;
}
.icons{
    font-size: 30px;
    align-items: center;
}
h3{
    font-size: 18px;
    color: black;
    text-align: center;
}