/* 400 Fonts Link Form Google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* This is body section */
 body{
    font-family: 'Poppins', sans-serif;
    background-color:brown;
 }
/* This is main section */
main{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 90px;
}
/* This is container section */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: row gap 30px;
}
.top-section{
    background-color:#FFFFFF;
    width: 330px;
    height: 456px;
    top: 747px;
    left: 180px;
    padding:15px;
}
.players{
    display: flex;
    background-color:#FFFFFF;
    
}
.player-img img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.player-info{
    top: 50px;
    line-height: 18px;
}
.player-name{
    color: #18191F;
    font-size: 28px;
}
.player-details{
    display: flex;
    width: 300px;
    height: 54px;
    top: 272px;
    flex-direction: column;
    align-items: center;
    background:#FFFFFF;
    font-size: 16px;
}
.raiting{
    background-color: cornsilk;
}